body{
    background-color: grey;
}

h1{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 80px;
    text-align: center;
}

.cursos a {
    padding: 100px;
    margin-left: 185px;
    background-size: contain;
    margin-top: 0px;
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

.img-curso{
    width: 300px;
    border-radius: 100px;
}

.iframe-video{
    padding-right: 500px;
    padding-left: 500px;
}

.playlist{
    padding-left: 700px;
    padding-right: 700px;
    padding-bottom: 100px;
}

